.btn{
    background-color: #495159;
    margin-left: 2.25%;
}

.not_authenticated_user{
  display: flex;
  justify-content: center;    /* по горизонтали */
  align-items: center;        /* по вертикали */
  height: 100vh;              /* на всю высоту экрана */
  width: 100vw;               /* на всю ширину экрана */
}

.image_name{
    display: fles;
    align-items: center;       /* по центру по вертикали */
    gap: 8px;
}

.search_btn_div{
    margin-left: 40%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.profile_photo_on_nav{
    margin-left: 2%
}

.btn_write{
    margin-bottom: 1.5%;
}

.post_img_center{
    justify: center;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2.5%;
}