.btn{
    background-color: #495159;
    margin-left: 2.25%;
}

.not_authenticated_user{
  display: flex;
  justify-content: center;    /* по горизонтали */
  align-items: center;        /* по вертикали */
  height: 100vh;              /* на всю высоту экрана */
  width: 100vw;               /* на всю ширину экрана */
}

.image_name{
    display: fles;
    align-items: center;       /* по центру по вертикали */
    gap: 8px;
}
